# Python for Data Science 

Python is an interpreted, high-level, general-purpose programming language. It is widely used for data analysis, machine learning, and web development.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
    <li>
    <a href="#basics">Python Basics</a>
        <ul>
        <li>
            <a href="#Types">Types</a>
            <ul>
                <li><a href="#Converting">Converting from one object type to a different object type</a></li>
            </ul>
        <li>
            <a href="#exp-and-var">Expressions and Variables</a>
            <ul>
                <li><a href="#Expressions">Expressions</a></li>
                <li><a href="#Variables">Variables</a></li>
            </ul>
        <li>
            <a href="#Strings">Strings</a>
                <ul>
                <li>
                <a href="#Indexing">Indexing</a>
                </li>
                <ul>
                    <li><a href="#Negative-Indexing">Negative Indexing</a></li>
                    <li><a href="#Slicing">Slicing</a></li>
                    <li><a href="#Stride">Stride</a></li>
                    <li><a href="#Concatenate-Strings">Concatenate Strings</a></li>
                </ul>
                <li>
                    <a href="#Escape-Sequences">Escape Sequences</a>
                </li>
                <li>
                    <a href="#String-Manipulation">String Manipulation Operations</a>
                </li>
                </ul>
        </ul>
        <li>
        <a href="#structure">Python Data Structures</a>
        <ul>
            <li>
            <a href="#Lists-and-Tuples">Lists and Tuples</a>
                <ul>
                    <li>
                    <a href="#list">Lists</a>
                    <ul>
                        <li><a href="#index">Indexing</a></li>
                        <li><a href="#content">List Content</a></li>
                        <li><a href="#op">List Operations</a></li>
                        <li><a href="#co">Copy and Clone List</a></li>
                    </ul>
                    <li>
                    <a href="#Tuples">Tuples</a>
                    <ul>
                        <li><a href="#tindex">Indexing</a></li>
                        <li><a href="#tslic">Slicing</a></li>
                        <li><a href="#tsort">Sorting</a></li>
                    </ul>
                </ul>
            <li>
            <a href="#dict">Dictionaries</a>
                <ul>
                    <li><a href="#create-dict">Create a Dictionary and access the elements</a></li>
                    <li><a href="#keys">Keys</a></li>
                </ul>
            <li>
            <a href="#set">Sets</a>
                <ul>
                    <li><a href="#set-op">Set Operations</a></li>
                    <li><a href="#set-logic">Sets Logic Operations</a></li>
                </ul>
            </li>
        </ul>
        </li>
    <li>
    <a href="#fund">Programming Fundamentals</a>
        <ul>
            <li><a href="#con-bran">Conditions and Branching</a></li>
            <li><a href="#loops">Loops</a></li>
            <li><a href="#func">Functions</a></li>
            <li><a href="#except">Exception Handling</a></li>
            <li><a href="#obj-cla">Objects and Classes</a></li>
        </ul>
    </ul>
    </li>
</div>

<hr>

<a id="basics"></a>
## **Python Basics:**

<a id="Types"></a>
## ðŸŽˆTypes

Basic data types include:

- int: x = 5
- float: pi = 3.14
- str: name = "Alice"
- bool: is_valid = True

<p>You can get Python to tell you the type of an expression by using the built-in <code>type()</code> function. You'll notice that Python refers to integers as <code>int</code>, floats as <code>float</code>, and character strings as <code>str</code>.</p>

In [7]:
type(5)

int

In [8]:
type(3.14)

float

In [9]:
type("Hello, World!")

str

In [25]:
type(True)

bool

<a id="Converting"></a>
### Converting from one object type to a different object type
You can change the type of the object in Python (**typecasting**)

For example:

In [16]:
# convert integer to a float
float(5)

5.0

If we cast a float into an integer, we could potentially lose some information:

In [17]:
# Convert float to integer
int(3.14)

3

In [24]:
# Convert string to int and float
x=int('10')
y=float('3.14')
print(x, y)

# Convert number to string
str(3.14)

10 3.14

'3.14'

<p>We can cast boolean objects to other data types. 

If we cast a boolean with a value of <code>True</code> to an integer or float we will get a one. If we cast a boolean with a value of <code>False</code> to an integer or float we will get a zero. Similarly, if we cast a 1 to a Boolean, you get a <code>True</code>. And if we cast a 0 to a Boolean we will get a <code>False</code>. Let's give it a try:</p>

In [27]:
# Convert boolean to integer and vice versa
print(int(True))  # True
print(bool(0))  # False

1
False

<a id="exp-and-var"></a>
## ðŸŽˆExpressions and Variables

<a id="Expressions"></a>
### Expressions

Expressions in Python can include operations among compatible types (e.g., integers and floats). For example, basic arithmetic operations like adding multiple numbers:

In [30]:
# Arithmetic operations (addition, subtraction, multiplication, division, integer division)
print(50 - 60)  # -10
print(5 * 6)  # 30
print(10 / 3)  # 3.3333333333333335
print(10 // 3)  # 3

-10
30
3.3333333333333335
3

In [33]:
# Mathematical operations

# Order of operations
print(2 + 3 * 4)  # 14
# Using parentheses to change order of operations
print((2 + 3) * 4)  # 20

# Exponentiation
print(2 ** 3)  # 8

# Modulus operation
print(10 % 3)  # 1

14
20
8
1

<a id="Variables"></a>
### Variables

We can store values in variables, so we can use them later on. For example:

In [35]:
x = 4 + 5
print("x is:", x)  # 9

y = x / 2
print("y is:", y)  # 4.5

x is: 9
y is: 4.5

<a id="Strings"></a>
## ðŸŽˆStrings

<a id="Indexing"></a>
### Indexing 

<a id="Negative-Indexing"></a>
#### Negative Indexing

It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array of numbers, for example:
|H|e|l|l|o|
|-|-|-|-|-|
|0|1|2|3|4|

or 

|H|e|l|l|o|
|-|-|-|-|-|
|-5|-4|-3|-2|-1|

In [50]:
name = "Hello"
# Print elements of the string
print(name[1])  # 'e'

# Print elements of the string in reverse
print(name[-1])  # 'o'

# Print the length of the string
print(len(name))  # 5

e
o
5

<a id="Slicing"></a>
#### Slicing

We can obtain multiple characters from a string using slicing

[Tip]: When taking the slice, the first number means the index (start at 0), and the second number means the length from the index to the last element you want (start at 1)

In [42]:
# Take the slice of the string
print(name[1:3])  # with only index 1 to index 2 'el'
print(name[1:])  # with only index 1 to the last element 'ello'

print(name[-2:])  # 'lo'
print(name[-3:-1])  # 'll'

el
ello
lo
ll

<a id="Stride"></a>
#### Stride

In [44]:
print(name[::2])  # 'Hlo' (every second character: 1, 3, 5)

print(name[::-1])  # 'olleH' (reversed string, every character in reverse order)

print(name[1:4:2])  # 'el' (from index 1 to 3, every second character)

Hlo
olleH
el

<a id="Concatenate-Strings"></a>
#### Concatenate Strings

We can concatenate or combine strings by using the addition symbols, and the result is a new string that is a combination of both

In [45]:
statement = name + " World"
print(statement)  # 'Hello World'

# Print the string multiple times
print(name * 3)  # 'HelloHelloHello'

Hello World
HelloHelloHello

<a id="Escape-Sequences"></a>
### Escape Sequences

Back slashes represent the beginning of escape sequences. Escape sequences represent strings that may be difficult to input. For example, back slash "n" represents a new line.

In [46]:
# New line escape character
print("Hello\nWorld")  # 'Hello' and 'World' on separate lines
# Tab escape character
print("Hello\tWorld")  # 'Hello' and 'World' separated by a tab space
# r prefix for raw string
print(r"Hello\nWorld")  # 'Hello\nWorld' as a raw string, no escape characters processed

Hello
World
Hello	World
Hello\nWorld

<a id="String-Manipulation"></a>
### String Manipulation Operations

In [ ]:
name = name + " World"

HELLO WORLD
hello world
Hello world
Hello World

In [56]:
# Upper and lower case conversions
print(name.upper())  # 'HELLO WORLD'
print(name.lower())  # 'hello world'

# Capitalize the first letter
print(name.capitalize())  # 'Hello world'

# Title case (capitalize first letter of each word)
print(name.title())  # 'Hello World'

HELLO WORLD
hello world
Hello world
Hello World

In [ ]:
# String formatting
age = 30
print(f"{name} is {age} years old")  # 'Hello is 30 years old'
# String methods
print(name.startswith("He"))  # True

Hello World is 30 years old
True

In [55]:
# Replace a substring
print(name.replace("World", "Python"))  # 'Hello Python'

# Find the index of a substring
print(name.find("World"))  # 6 (index of the substring)
print(name.find("dkdslfsjdkjf")) # -1 (not found)

# Split the string into a list
print(name.split())  # ['Hello', 'World']
# Join a list of strings into a single string
print(" ".join(["Hello", "World"]))  # 'Hello World'

# Check if a substring is in the string
print("Hello" in name)  # True

Hello Python
6
-1
['Hello', 'World']
Hello World
True

<a id="structure"></a>
## **Python data structures:**

- List: fruits = ['apple', 'banana', 'orange']
- Tuple: coordinates = (4, 5)
- Dictionary: student = {'name': 'John', 'age': 22}
- Set: unique_values = set([1, 2, 2, 3])

<a id="Lists-and-Tuples"></a>
## ðŸŽˆLists and Tuples

<a id="list"></a>
### Lists

<a id="index"></a>
#### Indexing

A list is a sequenced collection of different objects such as integers, strings, and even other lists as well. The address of each element within a list is called an index. An index is used to access and refer to items within a list.

In [16]:
# Create a list
L = ["apple", 2, 3.14, True, "banana"]
L

['apple', 2, 3.14, True, 'banana']

We can use **regular and negative** indexing within a list:

In [6]:
# Access elements in the list
print('the first element using negative and positive indexing:',
      '\n Positive:', L[0],
      '\n Negative:', L[-5])  # 'apple'

the first element using negative and positive indexing:
 Positive: apple
 Negative: apple

<a id="content"></a>
#### List Content

Lists can contain **strings**, **floats**, and **integers**. We can **nest other lists**, and we can also **nest tuples** and other data structures. The same indexing conventions apply for nesting:

In [ ]:
nested_list = [1, 2, [3, 4], "apple", ("banana", 10)]
print(nested_list)

# Access elements in the nested list
print(nested_list[2][1])  # 4 (accessing the second element of the nested list)

# Slicing the list
print(nested_list[1:4])  # [2, [3, 4], 'apple'] (slicing from index 1 to 3)

[1, 2, [3, 4], 'apple', ('banana', 10)]
4
[2, [3, 4], 'apple']

<a id="op"></a>
#### List Operations


We can use the method <code>extend</code> to add new elements to the list:

In [17]:
L.extend(["orange", 5.5])  # Adding elements to the list
print(L)  # ['apple', 2, 3.14, True, 'banana', 'orange', 5.5]

['apple', 2, 3.14, True, 'banana', 'orange', 5.5]

Another similar method is <code>append</code>. If we apply <code>append</code> instead of <code>extend</code>, we add one element to the list:

In [18]:
L.append(["grape", 6])  # Appending a new list to the end
print(L)  # ['apple', 2, 3.14, True, 'banana', 'orange', 5.5, ['grape', 6]]

['apple', 2, 3.14, True, 'banana', 'orange', 5.5, ['grape', 6]]

We can change elements in lists:

In [19]:
print("Before:", L)
L[5] = "kiwi"  # Replacing 'orange' with 'kiwi'
print("After:", L)  # ['apple', 2, 3.14, True, 'banana', 'kiwi', 5.5, ['grape', 6]]

Before: ['apple', 2, 3.14, True, 'banana', 'orange', 5.5, ['grape', 6]]
After: ['apple', 2, 3.14, True, 'banana', 'kiwi', 5.5, ['grape', 6]]

We can delete elements of lists using <code>del</code>, <code>remove</code>:

In [36]:
L = ['apple', 2, 3.14, True, 'banana', 'kiwi', 5.5, ['grape', 6]]
print("Before removing:", L)
L.remove('banana')  # Removing an element by value
L.remove(L[-1])  # Removing an element by indexing
print("After removing:", L)  # removed 'banana' and ['grape', 6]

# Deleting elements from the list
L = ['apple', 2, 3.14, True, 'kiwi', ['grape', 6]]
print("\nBefore deleting:", L)
del(L[5])  # Deleting the last element
print("After deleting:", L)  # ['2', 3.14, True, 'kiwi', ['grape', 6]]

Before removing: ['apple', 2, 3.14, True, 'banana', 'kiwi', 5.5, ['grape', 6]]
After removing: ['apple', 2, 3.14, True, 'kiwi', 5.5]

Before deleting: ['apple', 2, 3.14, True, 'kiwi', ['grape', 6]]
After deleting: ['apple', 2, 3.14, True, 'kiwi']

We can split string using <code>split</code>. The default delimiter is space, we can separate strings by defining the delimiter:

In [46]:
a = 'hello world'.split()  # ['hello', 'world']
b = 'hello, world'.split(', ')  # ['hello', 'world']
print("'hello world' split by default:", a, "\n'hello, world' split by comma and space:", b)

'hello world' split by default: ['hello', 'world']
'hello, world' split by comma and space: ['hello', 'world']

<a id="co"></a>
#### Copy and Clone List

1. **Copy:** When we set one variable <b>B</b> equal to <b>A</b>, both <b>A</b> and <b>B</b> are referencing the same list in memory:

In [63]:
A = ["cat", ["dog", "fish"]]
B = A  # Copying the list A to B
print("A:", A)  # ['cat', ['dog', 'fish']]
print("B:", B)  # ['cat', ['dog', 'fish']]

A: ['cat', ['dog', 'fish']]
B: ['cat', ['dog', 'fish']]

As they are referencing the same list, if we change elements in **A**, then list **B** also changes:

In [64]:
print("B[0]:", B[0])  # 'cat'
A[0] = "bird"  # Changing the first element of A
print("After changing A[0] to 'bird', B[0]:", B[0])  # 'bird' (B is affected because it references A)

B[0]: cat
After changing A[0] to 'bird', B[0]: bird

We can clone list **A** to avoid the issue:

In [ ]:
A = ["cat", ["dog", "fish"]]

# Cloning the list A to B
B = A[:]    # Creating a shallow copy of A, copying the top-level elements
            # Similar to B = A.copy()
print("After shallow copy, B:", B)  # ['bird', ['dog', 'fish']]
print("After shallow copy, A:", A)  # ['bird', ['dog', 'fish']]
print("B[0]:", B[0])  # 'bird'
print("B[1]:", B[1])  # ['dog', 'fish']
print("A[1][0]:", A[1][0])  # 'dog' (accessing the first element of the nested list in A)
print("B[1][0]:", B[1][0])  # 'dog' (B references the same nested list as A)
# Modifying the nested list in A
A[1][0] = "hamster"  # Changing the first element of the nested list in A
A[0] = "bird"  # Changing the first element of A
print("After changing A[1][0] and A[0], A:", A)  # ['bird', ['hamster', 'fish']]
print("After changing A[1][0] and A[0], B:", B)  # ['bird', ['hamster', 'fish']] (B is affected because it is a shallow copy)

# Creating a deep copy of A
import copy
B = copy.deepcopy(A)  # Creating a deep copy of A
print("\nAfter deep copy, B:", B)  # ['bird', ['hamster', 'fish']]
print("After deep copy, A:", A)  # ['bird', ['hamster', 'fish']]
print("B[0]:", B[0])  # 'bird'
print("B[1]:", B[1])  # ['hamster', 'fish']
print("A[1][0]:", A[1][0])  # 'hamster' (accessing the first element of the nested list in A)
print("B[1][0]:", B[1][0])  # 'hamster' (B references the same nested list as A)
# Modifying the nested list in A
A[1][0] = "parrot"  # Changing the first element of the nested list in A
A[0] = "fox"  # Changing the first element of A
print("After changing A[1][0] and A[0], A:", A)  # ['fox', ['parrot', 'fish']]
print("After changing A[1][0] and A[0], B:", B)  # ['bird', ['hamster', 'fish']] (B is not affected because it is a deep copy)

After shallow copy, B: ['cat', ['dog', 'fish']]
After shallow copy, A: ['cat', ['dog', 'fish']]
B[0]: cat
B[1]: ['dog', 'fish']
A[1][0]: dog
B[1][0]: dog
After changing A[1][0] and A[0], A: ['bird', ['hamster', 'fish']]
After changing A[1][0] and A[0], B: ['cat', ['hamster', 'fish']]

After deep copy, B: ['bird', ['hamster', 'fish']]
After deep copy, A: ['bird', ['hamster', 'fish']]
B[0]: bird
B[1]: ['hamster', 'fish']
A[1][0]: hamster
B[1][0]: hamster
After changing A[1][0] and A[0], A: ['fox', ['parrot', 'fish']]
After changing A[1][0] and A[0], B: ['bird', ['hamster', 'fish']]

<a id="Tuples"></a>
### Tuples

In Python, there are different data types (such as String, integer, float). These data types can all be contained in a tuple:

In [74]:
tuple1 = (1, 2.2, "Hello", True, [1, 2, 3])
print("My first tuple:",tuple1)

type(tuple1)  # <class 'tuple'>

My first tuple: (1, 2.2, 'Hello', True, [1, 2, 3])

tuple

<a id="tindex"></a>
#### Indexing

Same as above, each element of a tuple can be accessed via an regular or negative index. Each element can be obtained by the name of the tuple followed by a [square bracket] with the index number:

In [75]:
print(tuple1[0])  # 1 (accessing the first element of the tuple)
print(tuple1[-1])  # [1, 2, 3] (accessing the last element of the tuple)
print(tuple1[1:3])  # (2.2, 'Hello') (slicing the tuple from index 1 to 2)

1
[1, 2, 3]
(2.2, 'Hello')

In [76]:
# Print the type of value in the tuple
print(type(tuple1[0]))  # <class 'int'>
print(type(tuple1[1]))  # <class 'float'>
print(type(tuple1[2]))  # <class 'str'>
print(type(tuple1[3]))  # <class 'bool'>
print(type(tuple1[4]))  # <class 'list'> (the last element is a list)

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>

##### Concatenate Tuples

We can concatenate tuples by using **+**:

In [77]:
tuple2 = tuple1 + (4, 5)  # Concatenating tuples
print("Concatenated tuple:", tuple2)  # (1, 2.2, 'Hello', True, [1, 2, 3], 4, 5)

Concatenated tuple: (1, 2.2, 'Hello', True, [1, 2, 3], 4, 5)

<a id="tslic"></a>
#### Slicing

In [ ]:
# Slicing the tuple
print(tuple2[1:4])  # (2.2, 'Hello', True) (slicing the tuple from index 1 to 3)

# Get the length of the tuple
print(len(tuple2))  # 7 (length of the tuple)

# Check if an element is in the tuple
print(2.2 in tuple2)  # True (checking if 2.2 is in the tuple)

(2.2, 'Hello', True)
7
True

<a id="tsort"></a>
#### Sorting

In [ ]:
score = (100, 20, 60, 40, 70)

# Sorting the tuple (tuples are immutable, so we convert it to a list first)
sorted_score = sorted(score)  # Returns a new sorted list
print("Sorted score:", sorted_score)  # [20, 40, 60, 70, 100]

Sorted score: [20, 40, 60, 70, 100]

#### Nested Tuple

A tuple can contain another tuple as well as other more complex data types.

In [88]:
NestedT = (1, 2.2, ("Hello", "World"), True, [1, 2, 3], (4, 5))

# Accessing elements in the nested tuple
print("Nested tuple:", NestedT)  # (1, 2.2, ('Hello', 'World'), True, [1, 2, 3], (4, 5))
print("The 3rd element:", NestedT[2])  # ('Hello', 'World') (accessing the third element, which is a nested tuple)
# Accessing the tuple inside the tuple
print("The 1st element of the 3rd nested tuple:", NestedT[2][0])  # 'Hello' (accessing the first element of the nested tuple)
# Accessing the list inside the tuple
print("The 1st element of the 5th list:", NestedT[4][0])  # 1 (accessing the first element of the list inside the tuple)
# Accessing the element inside the nested tuple
print("The 2nd char in the 1st str in the nested tuple:", NestedT[2][0][1])  # 'e' (accessing the second character of the first string in the nested tuple)

# Converting the tuple to a list
nested_list = list(NestedT)  # Converting the tuple to a list
print("Converted nested tuple to list:", nested_list)  # [1, 2.2, ('Hello', 'World'), True, [1, 2, 3], (4, 5)]
# Converting the list back to a tuple
nested_tuple = tuple(nested_list)  # Converting the list back to a tuple
print("Converted list back to tuple:", nested_tuple)  # (1, 2.2, ('Hello', 'World'), True, [1, 2, 3], (4, 5))

Nested tuple: (1, 2.2, ('Hello', 'World'), True, [1, 2, 3], (4, 5))
The 3rd element: ('Hello', 'World')
The 1st element of the 3rd nested tuple: Hello
The 1st element of the 5th list: 1
The 2nd char in the 1st str in the nested tuple: e
Converted nested tuple to list: [1, 2.2, ('Hello', 'World'), True, [1, 2, 3], (4, 5)]
Converted list back to tuple: (1, 2.2, ('Hello', 'World'), True, [1, 2, 3], (4, 5))

<a id="dict"></a>
## ðŸŽˆDictionaries

A dictionary consists of **keys** and **values**. It is helpful to compare a dictionary to a list. Instead of being indexed numerically like a list, dictionaries have keys. These keys are the keys that are used to access values within a dictionary.  
<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/54cVKVMZaWEw7wSCDL8NjQ/DictList1.png" width="650">

<a id="create-dict"></a>
### Create a Dictionary and access the elements

Each key is separated from its value by a colon "**:**". 

Commas separate the items, and the whole dictionary is enclosed in curly braces "**{}**".

In [98]:
dict1 = {
    "name": "Alice",
    "age": 30,
    "city": ["New York", "Los Angeles", "Chicago"],
    "is_student": False,
    "grades": {"math": 90, "science": 85, "english": 88},
    "hobbies": ("reading", "traveling", "cooking"),
    "nested_dict": {
        "key1": "value1",
        "key2": [1, 2, 3],
        "key3": {"subkey1": "subvalue1", "subkey2": "subvalue2"}
    }
}
print("My first dictionary:", dict1)

My first dictionary: {'name': 'Alice', 'age': 30, 'city': ['New York', 'Los Angeles', 'Chicago'], 'is_student': False, 'grades': {'math': 90, 'science': 85, 'english': 88}, 'hobbies': ('reading', 'traveling', 'cooking'), 'nested_dict': {'key1': 'value1', 'key2': [1, 2, 3], 'key3': {'subkey1': 'subvalue1', 'subkey2': 'subvalue2'}}}

In [100]:
# Accessing elements in the dictionary
print("Length of dictionary:", len(dict1))  # 7 (number of key-value pairs in the dictionary)
print("Is 'age' a key in the dictionary?", "age" in dict1)  # True (checking if 'age' is a key in the dictionary)


print("Name:", dict1["name"])  # 'Alice' (accessing the value associated with the key 'name')
print("City:", dict1["city"])  # ['New York', 'Los Angeles', 'Chicago'] (accessing the value associated with the key 'city')
print("First city:", dict1["city"][0])  # 'New York' (accessing the first element of the list associated with the key 'city')
print("Is student:", dict1["is_student"])  # False (accessing the value associated with the key 'is_student')
print("Math grade:", dict1["grades"]["math"])  # 90 (accessing the value associated with the key 'math' in the nested dictionary 'grades')
print("Hobbies:", dict1["hobbies"])  # ('reading', 'traveling', 'cooking') (accessing the value associated with the key 'hobbies')
print("First hobby:", dict1["hobbies"][0])  # 'reading' (accessing the first element of the tuple associated with the key 'hobbies')
print("Nested dictionary:", dict1["nested_dict"])  # {'key1': 'value1', 'key2': [1, 2, 3], 'key3': {'subkey1': 'subvalue1', 'subkey2': 'subvalue2'}}
print("Nested dictionary key1:", dict1["nested_dict"]["key1"])  # 'value1' (accessing the value associated with the key 'key1' in the nested dictionary)

Length of dictionary: 7
Is 'age' a key in the dictionary? True
Name: Alice
City: ['New York', 'Los Angeles', 'Chicago']
First city: New York
Is student: False
Math grade: 90
Hobbies: ('reading', 'traveling', 'cooking')
First hobby: reading
Nested dictionary: {'key1': 'value1', 'key2': [1, 2, 3], 'key3': {'subkey1': 'subvalue1', 'subkey2': 'subvalue2'}}
Nested dictionary key1: value1

<a id="keys"></a>
### Keys

We can retrieve the values based on the keys, for example: 

<code>dict["key1"]</code> returns <code>value1</code>

We can retrieve all keys / values using the method <code>keys()</code> / <code>values()</code>

In [101]:
# Getting all keys and values in the dictionary
print("Keys:", dict1.keys())  # dict_keys(['name', 'age', 'city', 'is_student', 'grades', 'hobbies', 'nested_dict'])
print("Values:", dict1.values())  # dict_values(['Alice', 30, ['New York', 'Los Angeles', 'Chicago'], False, {'math': 90, 'science': 85, 'english': 88}, ('reading', 'traveling', 'cooking'), {'key1': 'value1', 'key2': [1, 2, 3], 'key3': {'subkey1': 'subvalue1', 'subkey2': 'subvalue2'}}])
print("Items:", dict1.items())  # dict_items([('name', 'Alice'), ('age', 30), ('city', ['New York', 'Los Angeles', 'Chicago']), ('is_student', False), ('grades', {'math': 90, 'science': 85, 'english': 88}), ('hobbies', ('reading', 'traveling', 'cooking')), ('nested_dict', {'key1': 'value1', 'key2': [1, 2, 3], 'key3': {'subkey1': 'subvalue1', 'subkey2': 'subvalue2'}})])

Keys: dict_keys(['name', 'age', 'city', 'is_student', 'grades', 'hobbies', 'nested_dict'])
Values: dict_values(['Alice', 30, ['New York', 'Los Angeles', 'Chicago'], False, {'math': 90, 'science': 85, 'english': 88}, ('reading', 'traveling', 'cooking'), {'key1': 'value1', 'key2': [1, 2, 3], 'key3': {'subkey1': 'subvalue1', 'subkey2': 'subvalue2'}}])
Items: dict_items([('name', 'Alice'), ('age', 30), ('city', ['New York', 'Los Angeles', 'Chicago']), ('is_student', False), ('grades', {'math': 90, 'science': 85, 'english': 88}), ('hobbies', ('reading', 'traveling', 'cooking')), ('nested_dict', {'key1': 'value1', 'key2': [1, 2, 3], 'key3': {'subkey1': 'subvalue1', 'subkey2': 'subvalue2'}})])

We can modify the dictionary:

In [ ]:
# Appending a new key-value pair to the dictionary
dict1["country"] = "USA"  # Adding a new key-value pair to the dictionary
print("After adding country:", dict1)  # {'name': 'Alice', 'age': 30, 'city': ['New York', 'Los Angeles', 'Chicago'], 'is_student': False, 'grades': {'math': 90, 'science': 85, 'english': 88}, 'hobbies': ('reading', 'traveling', 'cooking'), 'nested_dict': {'key1': 'value1', 'key2': [1, 2, 3], 'key3': {'subkey1': 'subvalue1', 'subkey2': 'subvalue2'}}, 'country': 'USA'}

# Modifying an existing key-value pair in the dictionary
dict1["age"] = 31  # Changing the value associated with the key 'age'
print("After modifying age:", dict1)  # {'name': 'Alice', 'age': 31, 'city': ['New York', 'Los Angeles', 'Chicago'], 'is_student': False, 'grades': {'math': 90, 'science': 85, 'english': 88}, 'hobbies': ('reading', 'traveling', 'cooking'), 'nested_dict': {'key1': 'value1', 'key2': [1, 2, 3], 'key3': {'subkey1': 'subvalue1', 'subkey2': 'subvalue2'}}, 'country': 'USA'}

# Removing a key-value pair from the dictionary
del dict1["city"]  # Removing the key-value pair with the key 'city'
print("After removing city:", dict1)  # {'name': 'Alice', 'age': 31, 'is_student': False, 'grades': {'math': 90, 'science': 85, 'english': 88}, 'hobbies': ('reading', 'traveling', 'cooking'), 'nested_dict': {'key1': 'value1', 'key2': [1, 2, 3], 'key3': {'subkey1': 'subvalue1', 'subkey2': 'subvalue2'}}, 'country': 'USA'}

# Checking if a key exists in the dictionary
print("Is 'name' a key in the dictionary?", "name" in dict1)  # True (checking if 'name' is a key in the dictionary)

After adding country: {'name': 'Alice', 'age': 30, 'city': ['New York', 'Los Angeles', 'Chicago'], 'is_student': False, 'grades': {'math': 90, 'science': 85, 'english': 88}, 'hobbies': ('reading', 'traveling', 'cooking'), 'nested_dict': {'key1': 'value1', 'key2': [1, 2, 3], 'key3': {'subkey1': 'subvalue1', 'subkey2': 'subvalue2'}}, 'country': 'USA'}
After modifying age: {'name': 'Alice', 'age': 31, 'city': ['New York', 'Los Angeles', 'Chicago'], 'is_student': False, 'grades': {'math': 90, 'science': 85, 'english': 88}, 'hobbies': ('reading', 'traveling', 'cooking'), 'nested_dict': {'key1': 'value1', 'key2': [1, 2, 3], 'key3': {'subkey1': 'subvalue1', 'subkey2': 'subvalue2'}}, 'country': 'USA'}
After removing city: {'name': 'Alice', 'age': 31, 'is_student': False, 'grades': {'math': 90, 'science': 85, 'english': 88}, 'hobbies': ('reading', 'traveling', 'cooking'), 'nested_dict': {'key1': 'value1', 'key2': [1, 2, 3], 'key3': {'subkey1': 'subvalue1', 'subkey2': 'subvalue2'}}, 'country': 'USA'}
Is 'name' a key in the dictionary? True

<a id="set"></a>
## ðŸŽˆSets

A set is a **unique** collection of objects in Python. You can denote a set with a pair of curly brackets **{}**. Python will automatically remove duplicate items:

In [116]:
# Creat a set
set1 = {1, 2.2, "Hello", True, False, (1, 2, 3), "Hello"}  # Creating a set with various data types
# Sets are unordered collections of unique elements
print("My first set:", set1)

My first set: {False, 1, 2.2, (1, 2, 3), 'Hello'}

In [111]:
# Converting a list to a set
set2 = set([2, 8, 6, 4, 5])  # Converting a list to a set
print("Converted list to set:", set2)  # {2, 4, 5, 6, 8}

Converted list to set: {2, 4, 5, 6, 8}

<a id="set-op"></a>
### Set Operations

We can modify sets using <code>add()</code>, <code>remove()</code>, <code>in</code>, etc.:

In [117]:
set1 = {1, 2.2, "Hello", True, False, (1, 2, 3), "Hello"}
# Adding elements to a set
set1.add("World")  # Adding a new element to the set
print("After adding 'World':", set1)  # {1, 2.2, 'Hello', True, False, (1, 2, 3), 'World'}
# Removing elements from a set
set1.remove("Hello")  # Removing an element from the set
print("After removing 'Hello':", set1)  # {1, 2.2, True, False, (1, 2, 3), 'World'}
# Checking if an element is in the set
print("Is 'World' in the set?", "World" in set1)  # True (checking if 'World' is in the set)

After adding 'World': {False, 1, 2.2, (1, 2, 3), 'Hello', 'World'}
After removing 'Hello': {False, 1, 2.2, (1, 2, 3), 'World'}
Is 'World' in the set? True

<a id="set-logic"></a>
### Sets Logic Operations

We can check the **difference** between sets (<code>-</code> / <code>set1.difference(set2)</code>), 

as well as the **symmetric difference** (<code>^</code>), 

**intersection** (<code>&</code> / <code>set1.intersection(set2)</code>), 

and **union** (<code>|</code> / <code>set1.union(set2)</code>):

In [120]:
# Comparing sets
set3 = {"cat", "dog", "fish", "bird"}
set4 = {"dog", "fish", "cat"}
print("Are set3 and set4 equal?", set3 == set4)  # False (sets are not equal because set3 has an additional element 'bird')
print("Is set3 a superset of set4?", set3.issuperset(set4))  # True (set3 contains all elements of set4)
print("Is set4 a subset of set3?", set4.issubset(set3))  # True (set4 is a subset of set3)
print("Is set3 disjoint with set4?", set3.isdisjoint(set4))  # False (sets are not disjoint because they have common elements)

# Set operations
print("Union of set3 and set4:", set3 | set4)  # {'cat', 'dog', 'fish', 'bird'} (union of two sets)
print("Intersection of set3 and set4:", set3 & set4)  # {'dog', 'fish', 'cat'} (intersection of two sets)
print("Difference of set3 and set4:", set3 - set4)  # {'bird'} (elements in set3 but not in set4)
print("Symmetric difference of set3 and set4:", set3 ^ set4)  # {'bird'} (elements in either set but not both)

Are set3 and set4 equal? False
Is set3 a superset of set4? True
Is set4 a subset of set3? True
Is set3 disjoint with set4? False
Union of set3 and set4: {'cat', 'fish', 'bird', 'dog'}
Intersection of set3 and set4: {'dog', 'cat', 'fish'}
Difference of set3 and set4: {'bird'}
Symmetric difference of set3 and set4: {'bird'}

<a id="fund"></a>
## **Programming Fundamentals**

<a id="con-bran"></a>
## ðŸŽˆConditions and Branching

<a id="loops"></a>
## ðŸŽˆLoops

<a id="func"></a>
## ðŸŽˆFunctions

<a id="except"></a>
## ðŸŽˆException Handling

<a id="obj-cla"></a>
## ðŸŽˆObjects and Classes