# Python for Data Science - Basics

Python is an interpreted, high-level, general-purpose programming language. It is widely used for data analysis, machine learning, and web development.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
    <li>
    <a href="#basics">Python Basics</a>
        <ul>
        <li>
            <a href="#Types">Types</a>
            <ul>
                <li><a href="#Converting">Converting from one object type to a different object type</a></li>
            </ul>
        <li>
            <a href="#exp-and-var">Expressions and Variables</a>
            <ul>
                <li><a href="#Expressions">Expressions</a></li>
                <li><a href="#Variables">Variables</a></li>
            </ul>
        <li>
            <a href="#Strings">Strings</a>
                <ul>
                <li>
                <a href="#Indexing">Indexing</a>
                </li>
                <ul>
                    <li><a href="#Negative-Indexing">Negative Indexing</a></li>
                    <li><a href="#Slicing">Slicing</a></li>
                    <li><a href="#Stride">Stride</a></li>
                    <li><a href="#Concatenate-Strings">Concatenate Strings</a></li>
                </ul>
                <li>
                    <a href="#Escape-Sequences">Escape Sequences</a>
                </li>
                <li>
                    <a href="#String-Manipulation">String Manipulation Operations</a>
                </li>
                </ul>
        </ul>
        <li>
        <a href="#structure">Python Data Structures</a>
        <ul>
            <li>
            <a href="#Lists-and-Tuples">Lists and Tuples</a>
                <ul>
                    <li>
                    <a href="#list">Lists</a>
                    <ul>
                        <li><a href="#index">Indexing</a></li>
                        <li><a href="#content">List Content</a></li>
                        <li><a href="#op">List Operations</a></li>
                        <li><a href="#co">Copy and Clone List</a></li>
                    </ul>
                    <li>
                    <a href="#Tuples">Tuples</a>
                    <ul>
                        <li><a href="#tindex">Indexing</a></li>
                        <li><a href="#tslic">Slicing</a></li>
                        <li><a href="#tsort">Sorting</a></li>
                    </ul>
                </ul>
            <li>
            <a href="#dict">Dictionaries</a>
                <ul>
                    <li><a href="#create-dict">Create a Dictionary and access the elements</a></li>
                    <li><a href="#keys">Keys</a></li>
                </ul>
            <li>
            <a href="#set">Sets</a>
                <ul>
                    <li><a href="#set-op">Set Operations</a></li>
                    <li><a href="#set-logic">Sets Logic Operations</a></li>
                </ul>
            </li>
        </ul>
        </li>
    <li>
    <a href="#fund">Programming Fundamentals</a>
        <ul>
            <li><a href="#con-bran">Conditions and Branching</a></li>
                <ul>
                    <li><a href="#comp">Comparison Operators</a></li>
                    <li><a href="#branc">Branching</a></li>
                    <li><a href="#logiO">Logical Operators</a></li>
                </ul>
            <li><a href="#loops">Loops</a></li>
                <ul>
                    <li><a href="#range">Range</a></li>
                    <li><a href="#for">for loop</a></li>
                    <li><a href="#while">while loop</a></li>
                    <li><a href="#lctrl">Loop Control Statements</a></li>
                </ul>
            <li><a href="#func">Functions</a></li>
            <li><a href="#except">Exception Handling</a></li>
            <li><a href="#obj-cla">Objects and Classes</a></li>
        </ul>
    </ul>
    </li>
</div>

<hr>

<a id="basics"></a>
## **Python Basics:**

<a id="Types"></a>
## ðŸŽˆTypes

Basic data types include:

- int: x = 5
- float: pi = 3.14
- str: name = "Alice"
- bool: is_valid = True

<p>You can get Python to tell you the type of an expression by using the built-in <code>type()</code> function. You'll notice that Python refers to integers as <code>int</code>, floats as <code>float</code>, and character strings as <code>str</code>.</p>

In [175]:
type(5)

int

In [176]:
type(3.14)

float

In [177]:
type("Hello, World!")

str

In [178]:
type(True)

bool

<a id="Converting"></a>
### Converting from one object type to a different object type
You can change the type of the object in Python (**typecasting**)

For example:

In [179]:
# convert integer to a float
float(5)

5.0

If we cast a float into an integer, we could potentially lose some information:

In [180]:
# Convert float to integer
int(3.14)

3

In [181]:
# Convert string to int and float
x=int('10')
y=float('3.14')
print(x, y)

# Convert number to string
str(3.14)

10 3.14

'3.14'

<p>We can cast boolean objects to other data types. 

If we cast a boolean with a value of <code>True</code> to an integer or float we will get a one. If we cast a boolean with a value of <code>False</code> to an integer or float we will get a zero. Similarly, if we cast a 1 to a Boolean, you get a <code>True</code>. And if we cast a 0 to a Boolean we will get a <code>False</code>. Let's give it a try:</p>

In [182]:
# Convert boolean to integer and vice versa
print(int(True))  # True
print(bool(0))  # False

1
False

<a id="exp-and-var"></a>
## ðŸŽˆExpressions and Variables

<a id="Expressions"></a>
### Expressions

Expressions in Python can include operations among compatible types (e.g., integers and floats). For example, basic arithmetic operations like adding multiple numbers:

In [183]:
# Arithmetic operations (addition, subtraction, multiplication, division, integer division)
print(50 - 60)  # -10
print(5 * 6)  # 30
print(10 / 3)  # 3.3333333333333335
print(10 // 3)  # 3

-10
30
3.3333333333333335
3

In [184]:
# Mathematical operations

# Order of operations
print(2 + 3 * 4)  # 14
# Using parentheses to change order of operations
print((2 + 3) * 4)  # 20

# Exponentiation
print(2 ** 3)  # 8

# Modulus operation
print(10 % 3)  # 1

14
20
8
1

<a id="Variables"></a>
### Variables

We can store values in variables, so we can use them later on. For example:

In [185]:
x = 4 + 5
print("x is:", x)  # 9

y = x / 2
print("y is:", y)  # 4.5

x is: 9
y is: 4.5

<a id="Strings"></a>
## ðŸŽˆStrings

<a id="Indexing"></a>
### Indexing 

<a id="Negative-Indexing"></a>
#### Negative Indexing

It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array of numbers, for example:
|H|e|l|l|o|
|-|-|-|-|-|
|0|1|2|3|4|

or 

|H|e|l|l|o|
|-|-|-|-|-|
|-5|-4|-3|-2|-1|

In [186]:
name = "Hello"
# Print elements of the string
print(name[1])  # 'e'

# Print elements of the string in reverse
print(name[-1])  # 'o'

# Print the length of the string
print(len(name))  # 5

e
o
5

<a id="Slicing"></a>
#### Slicing

We can obtain multiple characters from a string using slicing

[Tip]: When taking the slice, the first number means the index (start at 0), and the second number means the length from the index to the last element you want (start at 1)

In [187]:
# Take the slice of the string
print(name[1:3])  # with only index 1 to index 2 'el'
print(name[1:])  # with only index 1 to the last element 'ello'

print(name[-2:])  # 'lo'
print(name[-3:-1])  # 'll'

el
ello
lo
ll

<a id="Stride"></a>
#### Stride

In [188]:
print(name[::2])  # 'Hlo' (every second character: 1, 3, 5)

print(name[::-1])  # 'olleH' (reversed string, every character in reverse order)

print(name[1:4:2])  # 'el' (from index 1 to 3, every second character)

Hlo
olleH
el

<a id="Concatenate-Strings"></a>
#### Concatenate Strings

We can concatenate or combine strings by using the addition symbols, and the result is a new string that is a combination of both

In [189]:
statement = name + " World"
print(statement)  # 'Hello World'

# Print the string multiple times
print(name * 3)  # 'HelloHelloHello'

Hello World
HelloHelloHello

<a id="Escape-Sequences"></a>
### Escape Sequences

Back slashes represent the beginning of escape sequences. Escape sequences represent strings that may be difficult to input. For example, back slash "n" represents a new line.

In [190]:
# New line escape character
print("Hello\nWorld")  # 'Hello' and 'World' on separate lines
# Tab escape character
print("Hello\tWorld")  # 'Hello' and 'World' separated by a tab space
# r prefix for raw string
print(r"Hello\nWorld")  # 'Hello\nWorld' as a raw string, no escape characters processed

Hello
World
Hello	World
Hello\nWorld

<a id="String-Manipulation"></a>
### String Manipulation Operations

In [191]:
name = name + " World"

In [192]:
# Upper and lower case conversions
print(name.upper())  # 'HELLO WORLD'
print(name.lower())  # 'hello world'

# Capitalize the first letter
print(name.capitalize())  # 'Hello world'

# Title case (capitalize first letter of each word)
print(name.title())  # 'Hello World'

HELLO WORLD
hello world
Hello world
Hello World

In [193]:
# String formatting
age = 30
print(f"{name} is {age} years old")  # 'Hello is 30 years old'
# String methods
print(name.startswith("He"))  # True

Hello World is 30 years old
True

In [194]:
# Replace a substring
print(name.replace("World", "Python"))  # 'Hello Python'

# Find the index of a substring
print(name.find("World"))  # 6 (index of the substring)
print(name.find("dkdslfsjdkjf")) # -1 (not found)

# Split the string into a list
print(name.split())  # ['Hello', 'World']
# Join a list of strings into a single string
print(" ".join(["Hello", "World"]))  # 'Hello World'

# Check if a substring is in the string
print("Hello" in name)  # True

Hello Python
6
-1
['Hello', 'World']
Hello World
True

<a id="structure"></a>
## **Python data structures:**

- List: fruits = ['apple', 'banana', 'orange']
- Tuple: coordinates = (4, 5)
- Dictionary: student = {'name': 'John', 'age': 22}
- Set: unique_values = set([1, 2, 2, 3])

<a id="Lists-and-Tuples"></a>
## ðŸŽˆLists and Tuples

<a id="list"></a>
### Lists

<a id="index"></a>
#### Indexing

A list is a sequenced collection of different objects such as integers, strings, and even other lists as well. The address of each element within a list is called an index. An index is used to access and refer to items within a list.

In [195]:
# Create a list
L = ["apple", 2, 3.14, True, "banana"]
L

['apple', 2, 3.14, True, 'banana']

We can use **regular and negative** indexing within a list:

In [196]:
# Access elements in the list
print('the first element using negative and positive indexing:',
      '\n Positive:', L[0],
      '\n Negative:', L[-5])  # 'apple'

the first element using negative and positive indexing:
 Positive: apple
 Negative: apple

<a id="content"></a>
#### List Content

Lists can contain **strings**, **floats**, and **integers**. We can **nest other lists**, and we can also **nest tuples** and other data structures. The same indexing conventions apply for nesting:

In [197]:
nested_list = [1, 2, [3, 4], "apple", ("banana", 10)]
print(nested_list)

# Access elements in the nested list
print(nested_list[2][1])  # 4 (accessing the second element of the nested list)

# Slicing the list
print(nested_list[1:4])  # [2, [3, 4], 'apple'] (slicing from index 1 to 3)

[1, 2, [3, 4], 'apple', ('banana', 10)]
4
[2, [3, 4], 'apple']

<a id="op"></a>
#### List Operations


We can use the method <code>extend</code> to add new elements to the list:

In [198]:
L.extend(["orange", 5.5])  # Adding elements to the list
print(L)  # ['apple', 2, 3.14, True, 'banana', 'orange', 5.5]

['apple', 2, 3.14, True, 'banana', 'orange', 5.5]

Another similar method is <code>append</code>. If we apply <code>append</code> instead of <code>extend</code>, we add one element to the list:

In [199]:
L.append(["grape", 6])  # Appending a new list to the end
print(L)  # ['apple', 2, 3.14, True, 'banana', 'orange', 5.5, ['grape', 6]]

['apple', 2, 3.14, True, 'banana', 'orange', 5.5, ['grape', 6]]

We can change elements in lists:

In [200]:
print("Before:", L)
L[5] = "kiwi"  # Replacing 'orange' with 'kiwi'
print("After:", L)  # ['apple', 2, 3.14, True, 'banana', 'kiwi', 5.5, ['grape', 6]]

Before: ['apple', 2, 3.14, True, 'banana', 'orange', 5.5, ['grape', 6]]
After: ['apple', 2, 3.14, True, 'banana', 'kiwi', 5.5, ['grape', 6]]

We can delete elements of lists using <code>del</code>, <code>remove</code>:

In [201]:
L = ['apple', 2, 3.14, True, 'banana', 'kiwi', 5.5, ['grape', 6]]
print("Before removing:", L)
L.remove('banana')  # Removing an element by value
L.remove(L[-1])  # Removing an element by indexing
print("After removing:", L)  # removed 'banana' and ['grape', 6]

# Deleting elements from the list
L = ['apple', 2, 3.14, True, 'kiwi', ['grape', 6]]
print("\nBefore deleting:", L)
del(L[5])  # Deleting the last element
print("After deleting:", L)  # ['2', 3.14, True, 'kiwi', ['grape', 6]]

Before removing: ['apple', 2, 3.14, True, 'banana', 'kiwi', 5.5, ['grape', 6]]
After removing: ['apple', 2, 3.14, True, 'kiwi', 5.5]

Before deleting: ['apple', 2, 3.14, True, 'kiwi', ['grape', 6]]
After deleting: ['apple', 2, 3.14, True, 'kiwi']

We can split string using <code>split</code>. The default delimiter is space, we can separate strings by defining the delimiter:

In [202]:
a = 'hello world'.split()  # ['hello', 'world']
b = 'hello, world'.split(', ')  # ['hello', 'world']
print("'hello world' split by default:", a, "\n'hello, world' split by comma and space:", b)

'hello world' split by default: ['hello', 'world']
'hello, world' split by comma and space: ['hello', 'world']

<a id="co"></a>
#### Copy and Clone List

1. **Copy:** When we set one variable <b>B</b> equal to <b>A</b>, both <b>A</b> and <b>B</b> are referencing the same list in memory:

In [203]:
A = ["cat", ["dog", "fish"]]
B = A  # Copying the list A to B
print("A:", A)  # ['cat', ['dog', 'fish']]
print("B:", B)  # ['cat', ['dog', 'fish']]

A: ['cat', ['dog', 'fish']]
B: ['cat', ['dog', 'fish']]

As they are referencing the same list, if we change elements in **A**, then list **B** also changes:

In [204]:
print("B[0]:", B[0])  # 'cat'
A[0] = "bird"  # Changing the first element of A
print("After changing A[0] to 'bird', B[0]:", B[0])  # 'bird' (B is affected because it references A)

B[0]: cat
After changing A[0] to 'bird', B[0]: bird

We can clone list **A** to avoid the issue:

In [205]:
A = ["cat", ["dog", "fish"]]

# Cloning the list A to B
B = A[:]    # Creating a shallow copy of A, copying the top-level elements
            # Similar to B = A.copy()
print("After shallow copy, B:", B)  # ['bird', ['dog', 'fish']]
print("After shallow copy, A:", A)  # ['bird', ['dog', 'fish']]
print("B[0]:", B[0])  # 'bird'
print("B[1]:", B[1])  # ['dog', 'fish']
print("A[1][0]:", A[1][0])  # 'dog' (accessing the first element of the nested list in A)
print("B[1][0]:", B[1][0])  # 'dog' (B references the same nested list as A)
# Modifying the nested list in A
A[1][0] = "hamster"  # Changing the first element of the nested list in A
A[0] = "bird"  # Changing the first element of A
print("After changing A[1][0] and A[0], A:", A)  # ['bird', ['hamster', 'fish']]
print("After changing A[1][0] and A[0], B:", B)  # ['bird', ['hamster', 'fish']] (B is affected because it is a shallow copy)

# Creating a deep copy of A
import copy
B = copy.deepcopy(A)  # Creating a deep copy of A
print("\nAfter deep copy, B:", B)  # ['bird', ['hamster', 'fish']]
print("After deep copy, A:", A)  # ['bird', ['hamster', 'fish']]
print("B[0]:", B[0])  # 'bird'
print("B[1]:", B[1])  # ['hamster', 'fish']
print("A[1][0]:", A[1][0])  # 'hamster' (accessing the first element of the nested list in A)
print("B[1][0]:", B[1][0])  # 'hamster' (B references the same nested list as A)
# Modifying the nested list in A
A[1][0] = "parrot"  # Changing the first element of the nested list in A
A[0] = "fox"  # Changing the first element of A
print("After changing A[1][0] and A[0], A:", A)  # ['fox', ['parrot', 'fish']]
print("After changing A[1][0] and A[0], B:", B)  # ['bird', ['hamster', 'fish']] (B is not affected because it is a deep copy)

After shallow copy, B: ['cat', ['dog', 'fish']]
After shallow copy, A: ['cat', ['dog', 'fish']]
B[0]: cat
B[1]: ['dog', 'fish']
A[1][0]: dog
B[1][0]: dog
After changing A[1][0] and A[0], A: ['bird', ['hamster', 'fish']]
After changing A[1][0] and A[0], B: ['cat', ['hamster', 'fish']]

After deep copy, B: ['bird', ['hamster', 'fish']]
After deep copy, A: ['bird', ['hamster', 'fish']]
B[0]: bird
B[1]: ['hamster', 'fish']
A[1][0]: hamster
B[1][0]: hamster
After changing A[1][0] and A[0], A: ['fox', ['parrot', 'fish']]
After changing A[1][0] and A[0], B: ['bird', ['hamster', 'fish']]

<a id="Tuples"></a>
### Tuples

In Python, there are different data types (such as String, integer, float). These data types can all be contained in a tuple:

In [206]:
tuple1 = (1, 2.2, "Hello", True, [1, 2, 3])
print("My first tuple:",tuple1)

type(tuple1)  # <class 'tuple'>

My first tuple: (1, 2.2, 'Hello', True, [1, 2, 3])

tuple

<a id="tindex"></a>
#### Indexing

Same as above, each element of a tuple can be accessed via an regular or negative index. Each element can be obtained by the name of the tuple followed by a [square bracket] with the index number:

In [207]:
print(tuple1[0])  # 1 (accessing the first element of the tuple)
print(tuple1[-1])  # [1, 2, 3] (accessing the last element of the tuple)
print(tuple1[1:3])  # (2.2, 'Hello') (slicing the tuple from index 1 to 2)

1
[1, 2, 3]
(2.2, 'Hello')

In [208]:
# Print the type of value in the tuple
print(type(tuple1[0]))  # <class 'int'>
print(type(tuple1[1]))  # <class 'float'>
print(type(tuple1[2]))  # <class 'str'>
print(type(tuple1[3]))  # <class 'bool'>
print(type(tuple1[4]))  # <class 'list'> (the last element is a list)

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'list'>

##### Concatenate Tuples

We can concatenate tuples by using **+**:

In [209]:
tuple2 = tuple1 + (4, 5)  # Concatenating tuples
print("Concatenated tuple:", tuple2)  # (1, 2.2, 'Hello', True, [1, 2, 3], 4, 5)

Concatenated tuple: (1, 2.2, 'Hello', True, [1, 2, 3], 4, 5)

<a id="tslic"></a>
#### Slicing

In [210]:
# Slicing the tuple
print(tuple2[1:4])  # (2.2, 'Hello', True) (slicing the tuple from index 1 to 3)

# Get the length of the tuple
print(len(tuple2))  # 7 (length of the tuple)

# Check if an element is in the tuple
print(2.2 in tuple2)  # True (checking if 2.2 is in the tuple)

(2.2, 'Hello', True)
7
True

<a id="tsort"></a>
#### Sorting

In [211]:
score = (100, 20, 60, 40, 70)

# Sorting the tuple (tuples are immutable, so we convert it to a list first)
sorted_score = sorted(score)  # Returns a new sorted list
print("Sorted score:", sorted_score)  # [20, 40, 60, 70, 100]

Sorted score: [20, 40, 60, 70, 100]

#### Nested Tuple

A tuple can contain another tuple as well as other more complex data types.

In [212]:
NestedT = (1, 2.2, ("Hello", "World"), True, [1, 2, 3], (4, 5))

# Accessing elements in the nested tuple
print("Nested tuple:", NestedT)  # (1, 2.2, ('Hello', 'World'), True, [1, 2, 3], (4, 5))
print("The 3rd element:", NestedT[2])  # ('Hello', 'World') (accessing the third element, which is a nested tuple)
# Accessing the tuple inside the tuple
print("The 1st element of the 3rd nested tuple:", NestedT[2][0])  # 'Hello' (accessing the first element of the nested tuple)
# Accessing the list inside the tuple
print("The 1st element of the 5th list:", NestedT[4][0])  # 1 (accessing the first element of the list inside the tuple)
# Accessing the element inside the nested tuple
print("The 2nd char in the 1st str in the nested tuple:", NestedT[2][0][1])  # 'e' (accessing the second character of the first string in the nested tuple)

# Converting the tuple to a list
nested_list = list(NestedT)  # Converting the tuple to a list
print("Converted nested tuple to list:", nested_list)  # [1, 2.2, ('Hello', 'World'), True, [1, 2, 3], (4, 5)]
# Converting the list back to a tuple
nested_tuple = tuple(nested_list)  # Converting the list back to a tuple
print("Converted list back to tuple:", nested_tuple)  # (1, 2.2, ('Hello', 'World'), True, [1, 2, 3], (4, 5))

Nested tuple: (1, 2.2, ('Hello', 'World'), True, [1, 2, 3], (4, 5))
The 3rd element: ('Hello', 'World')
The 1st element of the 3rd nested tuple: Hello
The 1st element of the 5th list: 1
The 2nd char in the 1st str in the nested tuple: e
Converted nested tuple to list: [1, 2.2, ('Hello', 'World'), True, [1, 2, 3], (4, 5)]
Converted list back to tuple: (1, 2.2, ('Hello', 'World'), True, [1, 2, 3], (4, 5))

<a id="dict"></a>
## ðŸŽˆDictionaries

A dictionary consists of **keys** and **values**. It is helpful to compare a dictionary to a list. Instead of being indexed numerically like a list, dictionaries have keys. These keys are the keys that are used to access values within a dictionary.  
<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/54cVKVMZaWEw7wSCDL8NjQ/DictList1.png" width="650">

<a id="create-dict"></a>
### Create a Dictionary and access the elements

Each key is separated from its value by a colon "**:**". 

Commas separate the items, and the whole dictionary is enclosed in curly braces "**{}**".

In [213]:
dict1 = {
    "name": "Alice",
    "age": 30,
    "city": ["New York", "Los Angeles", "Chicago"],
    "is_student": False,
    "grades": {"math": 90, "science": 85, "english": 88},
    "hobbies": ("reading", "traveling", "cooking"),
    "nested_dict": {
        "key1": "value1",
        "key2": [1, 2, 3],
        "key3": {"subkey1": "subvalue1", "subkey2": "subvalue2"}
    }
}
print("My first dictionary:", dict1)

My first dictionary: {'name': 'Alice', 'age': 30, 'city': ['New York', 'Los Angeles', 'Chicago'], 'is_student': False, 'grades': {'math': 90, 'science': 85, 'english': 88}, 'hobbies': ('reading', 'traveling', 'cooking'), 'nested_dict': {'key1': 'value1', 'key2': [1, 2, 3], 'key3': {'subkey1': 'subvalue1', 'subkey2': 'subvalue2'}}}

In [214]:
# Accessing elements in the dictionary
print("Length of dictionary:", len(dict1))  # 7 (number of key-value pairs in the dictionary)
print("Is 'age' a key in the dictionary?", "age" in dict1)  # True (checking if 'age' is a key in the dictionary)


print("Name:", dict1["name"])  # 'Alice' (accessing the value associated with the key 'name')
print("City:", dict1["city"])  # ['New York', 'Los Angeles', 'Chicago'] (accessing the value associated with the key 'city')
print("First city:", dict1["city"][0])  # 'New York' (accessing the first element of the list associated with the key 'city')
print("Is student:", dict1["is_student"])  # False (accessing the value associated with the key 'is_student')
print("Math grade:", dict1["grades"]["math"])  # 90 (accessing the value associated with the key 'math' in the nested dictionary 'grades')
print("Hobbies:", dict1["hobbies"])  # ('reading', 'traveling', 'cooking') (accessing the value associated with the key 'hobbies')
print("First hobby:", dict1["hobbies"][0])  # 'reading' (accessing the first element of the tuple associated with the key 'hobbies')
print("Nested dictionary:", dict1["nested_dict"])  # {'key1': 'value1', 'key2': [1, 2, 3], 'key3': {'subkey1': 'subvalue1', 'subkey2': 'subvalue2'}}
print("Nested dictionary key1:", dict1["nested_dict"]["key1"])  # 'value1' (accessing the value associated with the key 'key1' in the nested dictionary)

Length of dictionary: 7
Is 'age' a key in the dictionary? True
Name: Alice
City: ['New York', 'Los Angeles', 'Chicago']
First city: New York
Is student: False
Math grade: 90
Hobbies: ('reading', 'traveling', 'cooking')
First hobby: reading
Nested dictionary: {'key1': 'value1', 'key2': [1, 2, 3], 'key3': {'subkey1': 'subvalue1', 'subkey2': 'subvalue2'}}
Nested dictionary key1: value1

<a id="keys"></a>
### Keys

We can retrieve the values based on the keys, for example: 

<code>dict["key1"]</code> returns <code>value1</code>

We can retrieve all keys / values using the method <code>keys()</code> / <code>values()</code>

In [215]:
# Getting all keys and values in the dictionary
print("Keys:", dict1.keys())  # dict_keys(['name', 'age', 'city', 'is_student', 'grades', 'hobbies', 'nested_dict'])
print("Values:", dict1.values())  # dict_values(['Alice', 30, ['New York', 'Los Angeles', 'Chicago'], False, {'math': 90, 'science': 85, 'english': 88}, ('reading', 'traveling', 'cooking'), {'key1': 'value1', 'key2': [1, 2, 3], 'key3': {'subkey1': 'subvalue1', 'subkey2': 'subvalue2'}}])
print("Items:", dict1.items())  # dict_items([('name', 'Alice'), ('age', 30), ('city', ['New York', 'Los Angeles', 'Chicago']), ('is_student', False), ('grades', {'math': 90, 'science': 85, 'english': 88}), ('hobbies', ('reading', 'traveling', 'cooking')), ('nested_dict', {'key1': 'value1', 'key2': [1, 2, 3], 'key3': {'subkey1': 'subvalue1', 'subkey2': 'subvalue2'}})])

Keys: dict_keys(['name', 'age', 'city', 'is_student', 'grades', 'hobbies', 'nested_dict'])
Values: dict_values(['Alice', 30, ['New York', 'Los Angeles', 'Chicago'], False, {'math': 90, 'science': 85, 'english': 88}, ('reading', 'traveling', 'cooking'), {'key1': 'value1', 'key2': [1, 2, 3], 'key3': {'subkey1': 'subvalue1', 'subkey2': 'subvalue2'}}])
Items: dict_items([('name', 'Alice'), ('age', 30), ('city', ['New York', 'Los Angeles', 'Chicago']), ('is_student', False), ('grades', {'math': 90, 'science': 85, 'english': 88}), ('hobbies', ('reading', 'traveling', 'cooking')), ('nested_dict', {'key1': 'value1', 'key2': [1, 2, 3], 'key3': {'subkey1': 'subvalue1', 'subkey2': 'subvalue2'}})])

We can modify the dictionary:

In [216]:
# Appending a new key-value pair to the dictionary
dict1["country"] = "USA"  # Adding a new key-value pair to the dictionary
print("After adding country:", dict1)  # {'name': 'Alice', 'age': 30, 'city': ['New York', 'Los Angeles', 'Chicago'], 'is_student': False, 'grades': {'math': 90, 'science': 85, 'english': 88}, 'hobbies': ('reading', 'traveling', 'cooking'), 'nested_dict': {'key1': 'value1', 'key2': [1, 2, 3], 'key3': {'subkey1': 'subvalue1', 'subkey2': 'subvalue2'}}, 'country': 'USA'}

# Modifying an existing key-value pair in the dictionary
dict1["age"] = 31  # Changing the value associated with the key 'age'
print("After modifying age:", dict1)  # {'name': 'Alice', 'age': 31, 'city': ['New York', 'Los Angeles', 'Chicago'], 'is_student': False, 'grades': {'math': 90, 'science': 85, 'english': 88}, 'hobbies': ('reading', 'traveling', 'cooking'), 'nested_dict': {'key1': 'value1', 'key2': [1, 2, 3], 'key3': {'subkey1': 'subvalue1', 'subkey2': 'subvalue2'}}, 'country': 'USA'}

# Removing a key-value pair from the dictionary
del dict1["city"]  # Removing the key-value pair with the key 'city'
print("After removing city:", dict1)  # {'name': 'Alice', 'age': 31, 'is_student': False, 'grades': {'math': 90, 'science': 85, 'english': 88}, 'hobbies': ('reading', 'traveling', 'cooking'), 'nested_dict': {'key1': 'value1', 'key2': [1, 2, 3], 'key3': {'subkey1': 'subvalue1', 'subkey2': 'subvalue2'}}, 'country': 'USA'}

# Checking if a key exists in the dictionary
print("Is 'name' a key in the dictionary?", "name" in dict1)  # True (checking if 'name' is a key in the dictionary)

After adding country: {'name': 'Alice', 'age': 30, 'city': ['New York', 'Los Angeles', 'Chicago'], 'is_student': False, 'grades': {'math': 90, 'science': 85, 'english': 88}, 'hobbies': ('reading', 'traveling', 'cooking'), 'nested_dict': {'key1': 'value1', 'key2': [1, 2, 3], 'key3': {'subkey1': 'subvalue1', 'subkey2': 'subvalue2'}}, 'country': 'USA'}
After modifying age: {'name': 'Alice', 'age': 31, 'city': ['New York', 'Los Angeles', 'Chicago'], 'is_student': False, 'grades': {'math': 90, 'science': 85, 'english': 88}, 'hobbies': ('reading', 'traveling', 'cooking'), 'nested_dict': {'key1': 'value1', 'key2': [1, 2, 3], 'key3': {'subkey1': 'subvalue1', 'subkey2': 'subvalue2'}}, 'country': 'USA'}
After removing city: {'name': 'Alice', 'age': 31, 'is_student': False, 'grades': {'math': 90, 'science': 85, 'english': 88}, 'hobbies': ('reading', 'traveling', 'cooking'), 'nested_dict': {'key1': 'value1', 'key2': [1, 2, 3], 'key3': {'subkey1': 'subvalue1', 'subkey2': 'subvalue2'}}, 'country': 'USA'}
Is 'name' a key in the dictionary? True

<a id="set"></a>
## ðŸŽˆSets

A set is a **unique** collection of objects in Python. You can denote a set with a pair of curly brackets **{}**. Python will automatically remove duplicate items:

In [217]:
# Creat a set
set1 = {1, 2.2, "Hello", True, False, (1, 2, 3), "Hello"}  # Creating a set with various data types
# Sets are unordered collections of unique elements
print("My first set:", set1)

My first set: {False, 1, 2.2, (1, 2, 3), 'Hello'}

In [218]:
# Converting a list to a set
set2 = set([2, 8, 6, 4, 5])  # Converting a list to a set
print("Converted list to set:", set2)  # {2, 4, 5, 6, 8}

Converted list to set: {2, 4, 5, 6, 8}

<a id="set-op"></a>
### Set Operations

We can modify sets using <code>add()</code>, <code>remove()</code>, <code>in</code>, etc.:

In [219]:
set1 = {1, 2.2, "Hello", True, False, (1, 2, 3), "Hello"}
# Adding elements to a set
set1.add("World")  # Adding a new element to the set
print("After adding 'World':", set1)  # {1, 2.2, 'Hello', True, False, (1, 2, 3), 'World'}
# Removing elements from a set
set1.remove("Hello")  # Removing an element from the set
print("After removing 'Hello':", set1)  # {1, 2.2, True, False, (1, 2, 3), 'World'}
# Checking if an element is in the set
print("Is 'World' in the set?", "World" in set1)  # True (checking if 'World' is in the set)

After adding 'World': {False, 1, 2.2, (1, 2, 3), 'Hello', 'World'}
After removing 'Hello': {False, 1, 2.2, (1, 2, 3), 'World'}
Is 'World' in the set? True

<a id="set-logic"></a>
### Sets Logic Operations

We can check the **difference** between sets (<code>-</code> / <code>set1.difference(set2)</code>), 

as well as the **symmetric difference** (<code>^</code>), 

**intersection** (<code>&</code> / <code>set1.intersection(set2)</code>), 

and **union** (<code>|</code> / <code>set1.union(set2)</code>):

In [220]:
# Comparing sets
set3 = {"cat", "dog", "fish", "bird"}
set4 = {"dog", "fish", "cat"}
print("Are set3 and set4 equal?", set3 == set4)  # False (sets are not equal because set3 has an additional element 'bird')
print("Is set3 a superset of set4?", set3.issuperset(set4))  # True (set3 contains all elements of set4)
print("Is set4 a subset of set3?", set4.issubset(set3))  # True (set4 is a subset of set3)
print("Is set3 disjoint with set4?", set3.isdisjoint(set4))  # False (sets are not disjoint because they have common elements)

# Set operations
print("Union of set3 and set4:", set3 | set4)  # {'cat', 'dog', 'fish', 'bird'} (union of two sets)
print("Intersection of set3 and set4:", set3 & set4)  # {'dog', 'fish', 'cat'} (intersection of two sets)
print("Difference of set3 and set4:", set3 - set4)  # {'bird'} (elements in set3 but not in set4)
print("Symmetric difference of set3 and set4:", set3 ^ set4)  # {'bird'} (elements in either set but not both)

Are set3 and set4 equal? False
Is set3 a superset of set4? True
Is set4 a subset of set3? True
Is set3 disjoint with set4? False
Union of set3 and set4: {'cat', 'fish', 'bird', 'dog'}
Intersection of set3 and set4: {'dog', 'cat', 'fish'}
Difference of set3 and set4: {'bird'}
Symmetric difference of set3 and set4: {'bird'}

<a id="fund"></a>
## **Programming Fundamentals**

<a id="con-bran"></a>
## ðŸŽˆConditions and Branching

<a id="comp"></a>
### Comparison Operators

Comparison operations compare some value or operand and based on a condition, **produce a Boolean**. We can use these operators:

- equal: ==
- not equal: !=
- greater than: >
- less than: <
- greater than or equal to: >=
- less than or equal to: <=

In [221]:
a = 4
a == 4  # True (checking if a is equal to 4)

True

The inequality operation is also used to compare the letters/words/symbols according to the ASCII value of letters. The decimal value shown in the following table represents the order of the character:


<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-7geq{background-color:#ffffc7;text-align:center;vertical-align:top}
.tg .tg-1cln{background-color:#ffcc67;font-size:100%;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-xozw{background-color:#ffcc67;font-weight:bold;text-align:center;vertical-align:top}
</style>

<table class="tg">
<thead>
  <tr>
    <th class="tg-1cln">Char.</th>
    <th class="tg-xozw">ASCII</th>
    <th class="tg-xozw">Char.</th>
    <th class="tg-xozw">ASCII</th>
    <th class="tg-xozw">Char.</th>
    <th class="tg-xozw">ASCII</th>
    <th class="tg-xozw">Char.</th>
    <th class="tg-xozw">ASCII</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-7geq">A</td>
    <td class="tg-baqh">65</td>
    <td class="tg-7geq">N</td>
    <td class="tg-baqh">78</td>
    <td class="tg-7geq">a</td>
    <td class="tg-baqh">97</td>
    <td class="tg-7geq">n</td>
    <td class="tg-baqh">110</td>
  </tr>
  <tr>
    <td class="tg-7geq">B</td>
    <td class="tg-baqh">66</td>
    <td class="tg-7geq">O</td>
    <td class="tg-baqh">79</td>
    <td class="tg-7geq">b</td>
    <td class="tg-baqh">98</td>
    <td class="tg-7geq">o</td>
    <td class="tg-baqh">111</td>
  </tr>
  <tr>
    <td class="tg-7geq">C</td>
    <td class="tg-baqh">67</td>
    <td class="tg-7geq">P</td>
    <td class="tg-baqh">80</td>
    <td class="tg-7geq">c</td>
    <td class="tg-baqh">99</td>
    <td class="tg-7geq">p</td>
    <td class="tg-baqh">112</td>
  </tr>
  <tr>
    <td class="tg-7geq">D</td>
    <td class="tg-baqh">68</td>
    <td class="tg-7geq">Q</td>
    <td class="tg-baqh">81</td>
    <td class="tg-7geq">d</td>
    <td class="tg-baqh">100</td>
    <td class="tg-7geq">q</td>
    <td class="tg-baqh">113</td>
  </tr>
  <tr>
    <td class="tg-7geq">E</td>
    <td class="tg-baqh">69</td>
    <td class="tg-7geq">R</td>
    <td class="tg-baqh">82</td>
    <td class="tg-7geq">e</td>
    <td class="tg-baqh">101</td>
    <td class="tg-7geq">r</td>
    <td class="tg-baqh">114</td>
  </tr>
  <tr>
    <td class="tg-7geq">F</td>
    <td class="tg-baqh">70</td>
    <td class="tg-7geq">S</td>
    <td class="tg-baqh">83</td>
    <td class="tg-7geq">f</td>
    <td class="tg-baqh">102</td>
    <td class="tg-7geq">s</td>
    <td class="tg-baqh">115</td>
  </tr>
  <tr>
    <td class="tg-7geq">G</td>
    <td class="tg-baqh">71</td>
    <td class="tg-7geq">T</td>
    <td class="tg-baqh">84</td>
    <td class="tg-7geq">g</td>
    <td class="tg-baqh">103</td>
    <td class="tg-7geq">t</td>
    <td class="tg-baqh">116</td>
  </tr>
  <tr>
    <td class="tg-7geq">H</td>
    <td class="tg-baqh">72</td>
    <td class="tg-7geq">U</td>
    <td class="tg-baqh">85</td>
    <td class="tg-7geq">h</td>
    <td class="tg-baqh">104</td>
    <td class="tg-7geq">u</td>
    <td class="tg-baqh">117</td>
  </tr>
  <tr>
    <td class="tg-7geq">I</td>
    <td class="tg-baqh">73</td>
    <td class="tg-7geq">V</td>
    <td class="tg-baqh">86</td>
    <td class="tg-7geq">i</td>
    <td class="tg-baqh">105</td>
    <td class="tg-7geq">v</td>
    <td class="tg-baqh">118</td>
  </tr>
  <tr>
    <td class="tg-7geq">J</td>
    <td class="tg-baqh">74</td>
    <td class="tg-7geq">W</td>
    <td class="tg-baqh">87</td>
    <td class="tg-7geq">j</td>
    <td class="tg-baqh">106</td>
    <td class="tg-7geq">w</td>
    <td class="tg-baqh">119</td>
  </tr>
  <tr>
    <td class="tg-7geq">K</td>
    <td class="tg-baqh">75</td>
    <td class="tg-7geq">X</td>
    <td class="tg-baqh">88</td>
    <td class="tg-7geq">k</td>
    <td class="tg-baqh">107</td>
    <td class="tg-7geq">x</td>
    <td class="tg-baqh">120</td>
  </tr>
  <tr>
    <td class="tg-7geq">L</td>
    <td class="tg-baqh">76</td>
    <td class="tg-7geq">Y</td>
    <td class="tg-baqh">89</td>
    <td class="tg-7geq">l</td>
    <td class="tg-baqh">108</td>
    <td class="tg-7geq">y</td>
    <td class="tg-baqh">121</td>
  </tr>
  <tr>
    <td class="tg-7geq">M</td>
    <td class="tg-baqh">77</td>
    <td class="tg-7geq">Z</td>
    <td class="tg-baqh">90</td>
    <td class="tg-7geq">m</td>
    <td class="tg-baqh">109</td>
    <td class="tg-7geq">z</td>
    <td class="tg-baqh">122</td>
  </tr>
</tbody>
</table>


For example, the value for a is 97, and the value for A is 65, therefore a > A.

When there are multiple letters, the first letter takes precedence in ordering (apple > Apple).

In [222]:
# Comparing characters
print("Comparing characters:")
print("a" == "A")  # False (comparing lowercase 'a' with uppercase 'A')
print("a" < "b")  # True (comparing lowercase 'a' with lowercase 'b')
print("A" < "a")  # True (comparing uppercase 'A' with lowercase 'a')
print("A" < "B")  # True (comparing uppercase 'A' with uppercase 'B')
# Comparing strings
print("Comparing strings:")
print("apple" == "Apple")  # False (comparing lowercase 'apple' with uppercase 'Apple')
print("apple" < "banana")  # True (comparing 'apple' with 'banana')
print("apple" < "Apple")  # False (comparing lowercase 'apple' with uppercase 'Apple')

Comparing characters:
False
True
True
True
Comparing strings:
False
True
False

<a id="branc"></a>
### Branching (Conditional Statements)

Branching allows us to run different statements for different inputs. It is based on **if (- elif - else) statement**. 

Executes a block of code if a condition is <code>True</code>, skips a block if a condition is <code>False</code>.

In [223]:
# if statement
print(a) # 4
if a == 4:
    print("a is equal to 4")  # This will be printed because a is indeed 4

4
a is equal to 4

In [224]:
# if else statement
if a < 4:
    print("a is less than 4")
else:
    print("a is not less than 4")

a is not less than 4

In [225]:
# else if (elif) statement
if a < 4:
    print("a is less than 4")
elif a == 4:
    print("a is equal to 4")
else:
    print("a is greater than 4")

a is equal to 4

In [226]:
# Nested if statement
if a >= 4:
    print("a is greater than or equal to 4")
    if a == 4:
        print("a is exactly 4")  # This will be printed because a is indeed 4
    else:
        print("a is greater than 4")

a is greater than or equal to 4
a is exactly 4

In [227]:
# One-line if statement
print("a is less than 5") if a < 5 else print("a is not less than 5")
result = "a is Even" if a % 2 == 0 else "a is Odd"
print(result)

a is less than 5
a is Even

<a id="logiO"></a>
### Logical Operators

We can use logical operators to check more than one condition at once. 
- <code>and</code>: True when all conditions are true
- <code>or</code>: True when at least one of the conditons are true
- <code>not</code>: ouputs the opposite truth value, checks if the statement is false

In [228]:
# Logical operators
x = True
y = False

# Using logical operators in conditions
if x and y:
    print("Both x and y are True")
else:
    print("At least one of x or y is False")

if x or y:
    print("At least one of x or y is True")
else:
    print("Both x and y are False")

# Using logical operators in conditions with multiple conditions
if x and (a == 4):
    print("x is True and a is equal to 4")  # This will be printed because x is True and a is indeed 4

if not y or (a > 3):
    print("Either y is False or a is greater than 3")  # This will be printed because y is False and a is indeed greater than 3

if (x or y) and (a < 5):
    print("Either x is True or y is True, and a is less than 5")  # This will be printed because x is True and a is indeed less than 5

At least one of x or y is False
At least one of x or y is True
x is True and a is equal to 4
Either y is False or a is greater than 3
Either x is True or y is True, and a is less than 5

<a id="loops"></a>
## ðŸŽˆLoops

<a id="range"></a>
### Range

Before we discuss loops lets discuss the range object. It is helpful to think of the range object as an ordered list. The <code>range(start, stop, step)</code> function generates a sequence of numbers and is commonly used in for loops.

- start: starting number, default: 0
- stop: stop number (Exclusive)
- step: Increment, default: 1

For example, range(3) returns range(0, 3)

In [229]:
# range function
for i in range(5):  # Looping from 0 to 4
    print(i)  # Prints numbers from 0 to 4
for i in range(187, 190):  # Looping from 187 to 189
    print(i)  # Prints numbers from 187 to 189
for i in range(-27, -20, 2):  # Looping from -27 to -20 with a step of 2
    print(i)  # Prints odd numbers from -27 to -21

0
1
2
3
4
187
188
189
-27
-25
-23
-21

<a id="for"></a>
### for loop

The for loop enables you to execute a code block multiple times. 

Used to iterate over a sequence (like a list, tuple, string, or range).

In [230]:
# Loop through a list
fruits = ["apple", "banana", "cherry", "date", "elderberry"]
# Using a for loop to iterate through the list of fruits
print("\nFruits in the list:")      
for fruit in fruits:
    print(fruit)

Fruits in the list:
apple
banana
cherry
date
elderberry

In [231]:
# Using range()
for i in range(5):
    print("Iteration:", i, fruits[i])  # Prints the current iteration number from 0 to 4

Iteration: 0 apple
Iteration: 1 banana
Iteration: 2 cherry
Iteration: 3 date
Iteration: 4 elderberry

<a id="while"></a>
### while loop

Used if we don't know when we want to stop the loop. It Repeats as long as a condition is True.

In [232]:
# while loop
count = 0
while count < 3:  # Loop until count is less than 3
    print("Count is:", count)  # Prints the current value of count
    count += 1  # Increment count by 1

gift = ["toy", "book", "puzzle", "game"]
# Using a while loop to iterate through the list of gifts
index = 0
while gift[index] != "book":  
    print("Gift:", gift[index])  # Prints the current gift
    index += 1  # Increment index by 1
print("Found the book at index", index)  # Prints the index where the book was found

Count is: 0
Count is: 1
Count is: 2
Gift: toy
Found the book at index 1

<a id="lctrl"></a>
### Loop Control Statements

- <code>break</code>: exits the loop early
- <code>continue</code>: Skips the current iteration and continues with the next one
- <code>pass</code>: A placeholder that does nothing (used when code is syntactically required)

In [233]:
# break statement
for i in range(10):
    if i == 5:  # If i is equal to 5, break the loop
        print("Breaking the loop at i =", i)
        break
    print("Current value of i:", i)  # Prints the current value of i
# continue statement
for i in range(10):
    if i % 2 == 0:  # If i is even, skip the rest of the loop
        continue
    print("Current value of i (odd):", i)  # Prints the current value of i if it is odd
# pass statement
for i in range(5):
    if i == 2:  # If i is equal to 2, do nothing (pass)
        pass
    else:
        print("Current value of i:", i)  # Prints the current value of i if it is not 2

Current value of i: 0
Current value of i: 1
Current value of i: 2
Current value of i: 3
Current value of i: 4
Breaking the loop at i = 5
Current value of i (odd): 1
Current value of i (odd): 3
Current value of i (odd): 5
Current value of i (odd): 7
Current value of i (odd): 9
Current value of i: 0
Current value of i: 1
Current value of i: 3
Current value of i: 4

<a id="func"></a>
## ðŸŽˆFunctions

A function is a reusable block of code which performs operations specified in the function.

There are two types of functions:

- Pre-defined functions (<code>sum()</code>, <code>len()</code>, <code>print()</code>, etc.)
- User defined functions (<code>def *function-name*():</code>)

In [234]:
# functions with parameters and return values
def greet(name):
    """Function to greet a person with their name."""
    print(f"Hello, {name}!")
greet("Alice")  # Calling the function with the argument "Alice"

def add_numbers(a, b):
    """Function to add two numbers and return the result."""
    return a + b
result = add_numbers(5, 3)  # Calling the function with arguments 5 and 3
print(f"The sum of 5 and 3 is: {result}")  # Prints the result of the addition

def multiply_numbers(a, b=2):
    """Function to multiply two numbers with a default value for b."""
    return a * b
result = multiply_numbers(5)  # Calling the function with only one argument, b will default to 2
print(f"The product of 5 and default value 2 is: {result}")  # Prints the result of the multiplication

def calculate_area(length, width=1):
    """Function to calculate the area of a rectangle with a default width."""
    return length * width
area = calculate_area(5, 3)  # Calling the function with both arguments
print(f"The area of a rectangle with length 5 and width 3 is: {area}")  # Prints the area of the rectangle

Hello, Alice!
The sum of 5 and 3 is: 8
The product of 5 and default value 2 is: 10
The area of a rectangle with length 5 and width 3 is: 15

In [235]:
# if else statement and loops in functions
def check_even_odd(number):
    """Function to check if a number is even or odd."""
    if number % 2 == 0:
        return f"{number} is even."
    else:
        return f"{number} is odd."
print(check_even_odd(4))  # Prints "4 is even."
print(check_even_odd(5))  # Prints "5 is odd."

def factorial(n):
    """Function to calculate the factorial of a number."""
    if n < 0:
        return "Factorial is not defined for negative numbers."
    elif n == 0 or n == 1:
        return 1
    else:
        result = 1
        for i in range(2, n + 1):
            result *= i
        return result
print(factorial(5))  # Prints "120" (5! = 5 * 4 * 3 * 2 * 1)

def fibonacci(n):
    """Function to generate Fibonacci sequence up to n."""
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    elif n == 2:
        return [0, 1]
    else:
        fib_sequence = [0, 1]
        for i in range(2, n):
            next_value = fib_sequence[i - 1] + fib_sequence[i - 2]
            fib_sequence.append(next_value)
        return fib_sequence
print(fibonacci(10))  # Prints the first 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

4 is even.
5 is odd.
120
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [236]:
# counting how many times a word appears in a string
def count_word_occurrences(text, word):
    """Function to count how many times a word appears in a string."""
    words = text.split()  # Split the text into words
    count = 0
    for w in words:
        if w.lower() == word.lower():  # Case-insensitive comparison
            count += 1
    return count
text = "Hello world! This is a test. Hello again!"
word = "hello"
print(f"The word '{word}' appears {count_word_occurrences(text, word)} times in the text.")  # Prints the count of occurrences

The word 'hello' appears 2 times in the text.

<a id="except"></a>
## ðŸŽˆException Handling

An exception is an error that occurs during the execution of code. This error causes the code to raise an exception and if not prepared to handle it will halt the execution of the code.

There are many more exceptions that are built into Python, here is a list of them https://docs.python.org/3/library/exceptions.html


Python uses try-except blocks to handle them.

In [237]:
# Exception handling
def divide_numbers(a, b):
    """Function to divide two numbers with exception handling."""
    try:
        result = a / b
        return result
    except ZeroDivisionError:
        return "Error: Division by zero is not allowed."
    except TypeError:
        return "Error: Invalid input type. Please provide numbers."
    except:
        return "Error: An unexpected error occurred."

print(divide_numbers(10, 2))  # Prints "5.0"
print(divide_numbers(10, 0))  # Prints "Error: Division by zero is not allowed."
print(divide_numbers("a",0))  # Prints "Error: Invalid input type. Please provide numbers."

5.0
Error: Division by zero is not allowed.
Error: Invalid input type. Please provide numbers.

Exception handling with finally and else:

In [238]:
# Try except with finally
def read_file(file_path):
    """Function to read a file and handle exceptions."""
    try:
        with open(file_path, 'r') as file:
            content = file.read()
            return content
    except FileNotFoundError:
        return "Error: File not found."
    except IOError:
        return "Error: An I/O error occurred."
    finally:
        print("Execution of read_file function completed.")
print(read_file("example.txt"))  # Prints the content of the file or an error message

# Try except with else
def safe_divide(a, b):
    """Function to safely divide two numbers with exception handling."""
    try:
        result = a / b
    except ZeroDivisionError:
        return "Error: Division by zero is not allowed."
    except TypeError:
        return "Error: Invalid input type. Please provide numbers."
    else:
        return result  # This will be executed if no exceptions occur
print(safe_divide(10, 2))  # Prints "5.0"
print(safe_divide(10, 0))  # Prints "Error: Division by zero is not allowed."
print(safe_divide("a", 0))  # Prints "Error: Invalid input type. Please provide numbers."

Execution of read_file function completed.
Error: File not found.
5.0
Error: Division by zero is not allowed.
Error: Invalid input type. Please provide numbers.

**Generic exception handling:** 

Sometimes you may not know what kind of exception will occur, especially in early development or when dealing with unpredictable inputs. You can use a generic exception handler to catch any exception.

In [239]:
# generic exception handling
def generic_exception_handling(b):
    """Function to demonstrate generic exception handling."""
    try:
        # Intentionally causing a division by zero error
        result = 10 / b
    except Exception as e:  # Catching all exceptions
        print(f"An error occurred: {e}")  # Prints the error message
    finally:
        print("Execution of generic_exception_handling function completed.")
generic_exception_handling("a")  # Calls the function to demonstrate exception handling

An error occurred: unsupported operand type(s) for /: 'int' and 'str'
Execution of generic_exception_handling function completed.

In [240]:

# Using assert statement
def check_positive_number(num):
    """Function to check if a number is positive using assert."""
    assert num >= 0, "Number must be positive."  # Raises an AssertionError if num is negative
    return f"{num} is a positive number."
try:
    print(check_positive_number(5))  # Prints "5 is a positive number."
    print(check_positive_number(-3))  # Raises an AssertionError
except AssertionError as e:
    print(f"AssertionError: {e}")

5 is a positive number.
AssertionError: Number must be positive.

<a id="obj-cla"></a>
## ðŸŽˆObjects and Classes

Python is an object-oriented language. It allows you to define classes to create objects with properties (attributes) and behaviors (methods).

***For example below,***

We define a **class: Dog**

We create an instance of the class called **object: my_dog**

The object is associated with different variables called **attributes: name, age**

Functions defined in the **class: Method**

Notes: The <code>\__init\_\_</code> is a special method called constructor, which is used to create a object. <code>self</code> refers to the instance being created.

In [241]:
# Create a class
class Dog:
    """A simple class to represent a dog."""
    
    def __init__(self, name, age):
        """Constructor to initialize the dog's name and age."""
        self.name = name
        self.age = age
    
    def bark(self):
        """Method for the dog to bark."""
        return f"{self.name} says Woof!"
    
    def get_age(self):
        """Method to get the dog's age."""
        return f"{self.name} is {self.age} years old."  

# Create an instance of the Dog class
my_dog = Dog("Buddy", 3)  # Creating a Dog object with name "Buddy" and age 3
print(my_dog.bark())  # Prints "Buddy says Woof!"
print(my_dog.get_age())  # Prints "Buddy is 3 years old."

Buddy says Woof!
Buddy is 3 years old.

### Thanks for reading â€“ now go write some code!

---

Written by @hellorito